/* note: second src url is a fallback using legacy syntax */
@font-face {
	font-family: 'Josefin Sans';
	src: url('fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype') tech('variations'),
	     url('fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype-variations');
	font-weight: 100 700;
}

/* Utils */
:root {
    --line-length-max: 60ch;
    --flow-space: 1em;
    --size-step-0: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
    --size-step-1: clamp(1.33rem, calc(1.16rem + 0.85vw), 1.82rem);
    --size-step-2: clamp(1.78rem, calc(1.37rem + 2.03vw), 2.95rem);
    --size-step-3: clamp(2.37rem, calc(1.54rem + 4.17vw), 4.76rem);
    --font-stack: 'Josefin Sans', sans-serif;
    --color-bg-primary: rgb(52, 51, 52);
    --color-bg-secondary: rgb(7,16,21);
    --color-text: rgb(251, 246, 238);
    --color-accent: rgb(242, 214, 163); 

    @media (prefers-color-scheme: light) {
        --color-bg-primary: rgb(251, 246, 238);
        --color-bg-secondary: rgb(242, 214, 163);
        --color-text: rgb(52, 51, 52);
        --color-accent: rgb(7,16,21); 
    }
}

/* Thanks to Stephanie Eckles: https://moderncss.dev/contextual-spacing-for-intrinsic-web-design/ */
.container {
    width: min(100vw - 2rem, var(--container-max, var(--line-length-max)) );
    margin-inline: auto;
    padding-block-start: min(3rem, 10vh);
    padding-block-end: min(3rem, 10vh);
}

.container--xl {
    --container-max: max(1000px, var(--line-length-max));
}

/* Thanks to Andy Bell: https://andy-bell.co.uk/my-favourite-3-lines-of-css/ */
.flow > * + * {
    margin-block-start: var(--flow-space);
}

:is(h1, h2, h3, h4) + :is(h1, h2, h3, h4) {
    --flow-space: 0.5em;
}

/* Elements */
body {
    background-color: var(--color-bg-primary);
    color: var(--color-text);
    font-family: var(--font-stack);
    font-size: var(--size-step-0);
    line-height: 1.5;
}

h1, h2, h3, h4 {
    font-weight: 700;
    line-height: 1;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: var(--size-step-3);
    text-transform: uppercase;
}

h2 {
    font-size: var(--size-step-1);
}

a {
    color: var(--color-accent);
    text-underline-offset: 0.15rem;
    text-decoration-color: var(--color-accent);
    text-decoration-thickness: 0.05rem;
}

a:hover,
a:focus,
a:active {
    font-weight: 300; 
    text-decoration-thickness: 0.01rem;
    /* I don't have a variable width axis,
    but this avoids too much content shift with reduced font weight */ 
    letter-spacing: 0.03rem;    
}

aside {
    background-color: var(--color-bg-secondary);
    color: var(--color-accent);
}

.art-deco-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    width: 100%;
}

.profile-pic {
    fill: var(--color-bg-primary);
    stroke: var(--color-accent);
    float: left;
    width: clamp(80px, 30%, 350px);
    height: auto;
    margin-inline-end: calc(var(--flow-space) * 0.5);

    .fade {
        opacity: 0.5;
    }
    
    .fade--light {
        opacity: 0.2
    }
}

.border--sm-screen {
    border: 1px solid var(--color-text);
    padding: var(--flow-space);
}

@media (min-width: 500px) {
    .profile-pic {
        float: none;
        margin-inline-end: initial;
        flex: 1 0 25%;
        align-self: end;
    }

    .border--sm-screen {
        border: none;
    }

    .border--md-lg-screen {
        border: 1px solid var(--color-text);
        padding: var(--flow-space);
        flex: 0 1 var(--line-length-max);
        align-self: center;
    }

    body {
        min-height: 100vh;
        display: grid;
        grid-template-rows: 1fr auto;
        align-items: center;
    }

    .flex {
        display: flex;
        gap: var(--flow-space);
    }
}

/* A pared-down version of Andy Bell's reset: https://andy-bell.co.uk/a-modern-css-reset/ */
@layer reset {
    /* Box sizing rules */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* Remove default margin */
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    figure,
    blockquote,
    dl,
    dd {
        margin: 0;
    }

    /* Make images easier to work with */
    img,
    picture {
        max-width: 100%;
        display: block;
    }
}