header {
    text-align: center;
}

/* to-do: max width on content inside bar? or center once above 1400px screen width? */
.top-bar {
    background-color: var(--color-accent);
    text-align: left;
    padding: 5px 10px;

    @media (prefers-color-scheme: light) {
        background-color: initial;
    }
}

/* todo: make icon size match font size */
.top-bar__icon {
    transform: rotateY(180deg); /* todo: move this to svg? */
    vertical-align: bottom;
    margin-inline-end: 5px;
}

.top-bar__link {
    color: var(--color-bg-primary);
    text-decoration-color: var(--color-bg-primary);
    display: inline-block;

    @media (prefers-color-scheme: light) {
        color: var(--color-text);
        text-decoration-color: var(--color-text);
    }
}

.top-bar__link:focus-visible {
    outline: 3px solid var(--color-bg-primary);
    outline-offset: 1px;
    outline-style: double;

    @media (prefers-color-scheme: light) {
        outline-color: var(--color-text);
    }
}