header {
    text-align: center;
}

.top-bar {
    background-color: var(--color-accent);
    text-align: left;
    padding: 5px;
}

.top-bar svg {
    transform: rotateY(180deg);

    @media (prefers-color-scheme: light) {
        box-sizing: content-box;
        padding: 5px;
        background-color: var(--color-bg-primary);
        border-radius: 50%;
    }
}

.top-bar a {
    color: var(--color-bg-primary);
    display: inline-block;

    @media (prefers-color-scheme: light) {
        color: var(--color-text);
    }
}

.top-bar svg {
    vertical-align: bottom;
}